// rem - allows users to customise easily
html{
    font-size: 62.5%;
}
body{
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-size: $m-size;
}
button{
    cursor: pointer;
}
button:disabled{
    cursor: default;
}
.isActive{
    font-weight: bold;
    color:teal;
}